{% extends "base.html" %}
{% block content %}

<h1>Olá, {{ user.first_name }} {{ user.last_name }}</h1>
<p><strong>Tipo de Conta:</strong> {{ user.type }}</p>

<hr>

{% if user.is_employer %}
    <h2>Gestão da Empresa</h2>

    <a href="{% url 'create_job' %}" class="btn btn-primary">Criar Oferta de Emprego</a>
    <a href="{% url 'edit_company' %}" class="btn btn-secondary">Configurar Empresa</a>

    <h3>As suas ofertas de emprego</h3>
    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li>
                    <strong>{{ job.title }}</strong> — {{ job.location }}
                    <a href="{% url 'job_detail' job.pk %}">Ver</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ainda não criou nenhuma oferta.</p>
    {% endif %}

    <h3>Candidaturas Recebidas</h3>

    {% if applications %}
        <ul>
            {% for app in applications %}
                <li>
                    {{ app.candidate.username }} candidatou-se a 
                    <strong>{{ app.job.title }}</strong>
                    — Estado: <strong>{{ app.get_status_display }}</strong>

                    <br>

                    <a href="{% url 'employer_edit_application' app.pk %}" 
                       class="btn btn-sm btn-warning mt-1">
                        Editar Candidatura
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma candidatura recebida.</p>
    {% endif %}
{% endif %}


{% if user.is_employee %}
    <h2>As Suas Candidaturas</h2>

    {% if sent_applications %}
        <ul>
            {% for app in sent_applications %}
                <li>
                    <strong>{{ app.job.title }}</strong> — {{ app.job.company.name }}
                    <br>
                    Estado: {{ app.get_status_display }}

                    <br>

                    <a href="{% url 'edit_application' app.pk %}" class="btn btn-sm btn-warning mt-1">
                        Editar
                    </a>

                    <a href="{% url 'delete_application' app.pk %}" 
                       class="btn btn-sm btn-danger mt-1"
                       onclick="return confirm('Tem a certeza que deseja remover esta candidatura?');">
                        Remover
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ainda não se candidatou a nenhum emprego.</p>
    {% endif %}
{% endif %}

{% endblock %}
