{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JobBoard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body class="gradient-bg">

<header class="navbar">
    <div class="nav-left">
        <a href="/" class="logo">JobBoard</a>
    </div>


    <div class="account-buttons">
        {% if user.is_authenticated %}
            <a href="{% url 'account' user.pk %}" class="btn-account">Minha Conta</a>
            {% csrf_token %}
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-logout">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'login' %}" class="btn-login">Login / Registar</a>
        {% endif %}
    </div>


</header>

<section class="hero">
    <h1 class="hero-title">Ofertas de Emprego</h1>

    <form method="GET" action="{% url 'search' %}" class="search-box">

        <input type="text"
               name="keyword"
               placeholder="Cargo / Palavra‑chave (Ex: Developer, Designer)"
               value="{{ request.GET.keyword }}">

        <input type="text"
               name="location"
               placeholder="Localização (Cidade ou código postal)"
               value="{{ request.GET.location }}">

        <select name="level">
            <option value="">Nível</option>
            <option value="junior" {% if request.GET.level == "junior" %}selected{% endif %}>Junior</option>
            <option value="mid" {% if request.GET.level == "mid" %}selected{% endif %}>Pleno</option>
            <option value="senior" {% if request.GET.level == "senior" %}selected{% endif %}>Senior</option>
        </select>

        <button type="submit" class="btn-search">Pesquisar</button>
    </form>
</section>

<main class="content-container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    © 2026 JobBoard — Encontre o emprego dos seus sonhos 🚀
</footer>

</body>
</html>
